<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.sys.ActivityMapper">

	<sql id="columns">
				a.id AS "id",
				a.a_name AS "aName",
				a.add_user AS "addUser",
				a.add_time AS "addTime",
				a.course_id AS "courseId",
				a.start_time AS "startTime",
				a.end_time AS "endTime",
				a.careful_info AS "carefulInfo",
				a.state AS "state"
	</sql>
	
	 <!-- 查询条件 -->
    <sql id="selectPageParmas">
        <where>
        	1=1
        	<if test="id != null and id != '' ">
            	<![CDATA[and a.id =  #{id}]]>
            </if>
        </where>
    </sql>
    
    <select id="get" parameterType="com.model.sys.Activity" resultType="com.model.sys.Activity">
        select 
			<include refid="columns"/>
        from t_activity a
        <include refid="selectPageParmas" />
    </select>
    
	<select id="getCount" parameterType="com.model.sys.Activity" resultType="Long">
        select count(id)
        from t_activity a
        <include refid="selectPageParmas" />
    </select>
	
	<select id="getAllList" resultType="com.model.sys.Activity" parameterType="com.model.sys.Activity" >
	<!-- 同时生成了两个数据库的代码，可以根据自己需要删除 -->
		<if test="dbName == 'mysql'">
			select
	    		<include refid="columns"/>
	    	from t_activity a
	    	<include refid="selectPageParmas" />
		</if>
		<if test="dbName == 'mssql'">
			 SELECT
			      <include refid="columns"/>
			  FROM t_activity a
			     <include refid="selectPageParmas" />
		</if>
	 </select>
	 
	<select id="getListByPage" resultType="com.model.sys.Activity" parameterType="com.model.sys.Activity" >
	<!-- 同时生成了两个数据库的代码，可以根据自己需要删除 -->
		<if test="dbName == 'mysql'">
			select
				a.id AS "id",
				a.a_name AS "aName",
				a.add_user AS "addUser",
				a.add_time AS "addTime",
				a.course_id AS "courseId",
				a.start_time AS "startTime",
				a.end_time AS "endTime",
				a.careful_info AS "carefulInfo",
				a.state AS "state",
		     	t_course.c_name as "cName",
			    sys_user.name as "name"
	    	from t_activity a left join t_course on a.course_id = t_course.id
	    	left join sys_user on a.add_user = sys_user.id
	    	<include refid="selectPageParmas" />
	    	LIMIT #{start},#{limit}
		</if>
		<if test="dbName == 'mssql'">
			 SELECT
			      TOP ${limit} *
			  FROM
			      (
			          SELECT
			              ROW_NUMBER () OVER (ORDER BY id ASC) RowNumber ,<include refid="columns"/>
			          FROM
			             t_activity a
			              <include refid="selectPageParmas" />
			      ) A
			 WHERE
			     A.RowNumber > (#{start} - 1) * #{limit}
		</if>
	 </select>
	 
  	<insert id="insert">
		INSERT INTO t_activity(
					a_name,
					add_user,
					add_time,
					course_id,
					start_time,
					end_time,
					careful_info,
					state
		) VALUES (
					#{aName},
					#{addUser},
					#{addTime},
					#{courseId},
					#{startTime},
					#{endTime},
					#{carefulInfo},
					#{state}
		)
	</insert>
  
  	<update id="update">
		UPDATE t_activity SET 	
						<if test="aName != null and aName != ''">a_name = #{aName},</if>
						<if test="addUser != null and addUser != ''">add_user = #{addUser},</if>
						<if test="addTime != null and addTime != ''">add_time = #{addTime},</if>
						<if test="courseId != null and courseId != ''">course_id = #{courseId},</if>
						<if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
						<if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
						<if test="carefulInfo != null and carefulInfo != ''">careful_info = #{carefulInfo},</if>
						<if test="state != null and state != ''">state = #{state}</if>
		WHERE id =  #{id}
	</update>
	
	  <delete id="delete" parameterType="java.lang.Integer" >
	    delete from t_activity
	    where id = #{id,jdbcType=INTEGER}
	  </delete>
</mapper>